<html>
	<head>
		<title>Thông tin USB cắm vào</title>
		<script src="socket.io/socket.io.js"></script>
		<script src="jquery.js"></script>
		<script src="xulithongtinUSB.js"></script>
		<link rel="stylesheet" href="layout2.css" type="text/css"/>
	</head>
	<body>
		
		<div id="container"></div>
	</body>
</html>