<html>
	<head>
		<title>Quản lí USB</title>

	
	<script src="socket.io/socket.io.js"></script>
	<script src="jquery.js"></script>
	<script src="xuli.js"></script>
	<link rel="stylesheet" href="layout.css" type="text/css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>  

    <script src="/js/bootstrap.min.js"></script>
  

	
	

	</head>
	<body>
		<!-- <nav class="navbar navbar-inverse">
			<div class="container-fluid">
				
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="#">USB DETECTION</a>
					</li>
					<li class="active" id="info">
						<a href="#">INFORMATION</a>
					</li>
				</ul>
			</div>
		</nav> 
		!-->
		<div id='header'>
				<img src="/image/usb4.png" alt='usb'width="60" height="60">
				<p id="tag">USB DETECTION</p>

		</div>
		<div id="contai" class="container-fluid">

			
		
					<div id="left">
						<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
							

							<table class="table table-condensed table-hover">
						<thead>
							<tr>
								<th>Danh sách Client</th>
							</tr>
						</thead>
						<tbody id="listclient">
							
						</tbody>
							</table>
						</div>

							
						<div id="thongbao">


					</div>
					
					
					

					</div>
					<div id="empty"></div>
					<div id="right">
						
						
						

					</div>
		

		</div>
		
	</body>

</html>
